/* line 384, icon/*.png */
.icon-sprite, .icon-add-photo-gray, .icon-android-logo-white, .icon-apple-logo-white, .icon-arrow-right-top, .icon-ba-icon, .icon-back-opacity, .icon-cancel-entering-white, .icon-cancel-gray, .icon-check-blue, .icon-check-white-30, .icon-check-white, .icon-city-icon-gary, .icon-comment-gray, .icon-comment-opacity, .icon-comment, .icon-download-blue, .icon-download-white, .icon-emoji-flash, .icon-female, .icon-like-redline, .icon-like-whiteline-shadow, .icon-like-whiteline, .icon-liked-full-shadow, .icon-liked-full, .icon-live-icon-red-36, .icon-logo-129, .icon-logo-160, .icon-logo-50, .icon-male, .icon-me-mark, .icon-modal-close-white, .icon-more-down-white-40, .icon-more-gray, .icon-more-up-white-40, .icon-more-white, .icon-share-gray, .icon-share-white, .icon-star-wars, .icon-top-blue-50, .icon-top-word-gray-40, .icon-top-word-gray-45, .icon-trash-gray, .icon-wechat-homeicon-white {
  background-image: url('http://127.0.0.1:8080/assets/img/icon-sc2717190f0.png');
  background-repeat: no-repeat;
}

/* line 84, D:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-add-photo-gray {
  background-position: 0 0;
  height: 47px;
  width: 46px;
}

/* line 84, D:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-android-logo-white {
  background-position: 0 -57px;
  height: 40px;
  width: 34px;
}

/* line 84, D:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-apple-logo-white {
  background-position: 0 -107px;
  height: 38px;
  width: 32px;
}

/* line 84, D:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-arrow-right-top {
  background-position: 0 -155px;
  height: 38px;
  width: 34px;
}

/* line 84, D:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-ba-icon {
  background-position: 0 -203px;
  height: 20px;
  width: 20px;
}

/* line 84, D:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-back-opacity {
  background-position: 0 -233px;
  height: 36px;
  width: 20px;
}

/* line 84, D:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-cancel-entering-white {
  background-position: 0 -279px;
  height: 40px;
  width: 40px;
}

/* line 84, D:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-cancel-gray {
  background-position: 0 -329px;
  height: 30px;
  width: 30px;
}

/* line 84, D:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-check-blue {
  background-position: 0 -369px;
  height: 44px;
  width: 60px;
}

/* line 84, D:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-check-white-30 {
  background-position: 0 -423px;
  height: 30px;
  width: 42px;
}

/* line 84, D:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-check-white {
  background-position: 0 -463px;
  height: 36px;
  width: 50px;
}

/* line 84, D:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-city-icon-gary {
  background-position: 0 -509px;
  height: 26px;
  width: 17px;
}

/* line 84, D:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-comment-gray {
  background-position: 0 -545px;
  height: 39px;
  width: 45px;
}

/* line 84, D:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-comment-opacity {
  background-position: 0 -594px;
  height: 46px;
  width: 51px;
}

/* line 84, D:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-comment {
  background-position: 0 -650px;
  height: 39px;
  width: 45px;
}

/* line 84, D:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-download-blue {
  background-position: 0 -699px;
  height: 33px;
  width: 33px;
}

/* line 84, D:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-download-white {
  background-position: 0 -742px;
  height: 33px;
  width: 33px;
}

/* line 84, D:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-emoji-flash {
  background-position: 0 -785px;
  height: 20px;
  width: 14px;
}

/* line 84, D:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-female {
  background-position: 0 -815px;
  height: 40px;
  width: 34px;
}

/* line 84, D:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-like-redline {
  background-position: 0 -865px;
  height: 43px;
  width: 46px;
}

/* line 84, D:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-like-whiteline-shadow {
  background-position: 0 -918px;
  height: 43px;
  width: 46px;
}

/* line 84, D:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-like-whiteline {
  background-position: 0 -971px;
  height: 44px;
  width: 46px;
}

/* line 84, D:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-liked-full-shadow {
  background-position: 0 -1025px;
  height: 45px;
  width: 46px;
}

/* line 84, D:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-liked-full {
  background-position: 0 -1080px;
  height: 44px;
  width: 46px;
}

/* line 84, D:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-live-icon-red-36 {
  background-position: 0 -1134px;
  height: 40px;
  width: 85px;
}

/* line 84, D:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-logo-129 {
  background-position: 0 -1184px;
  height: 129px;
  width: 129px;
}

/* line 84, D:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-logo-160 {
  background-position: 0 -1323px;
  height: 160px;
  width: 160px;
}

/* line 84, D:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-logo-50 {
  background-position: 0 -1493px;
  height: 50px;
  width: 50px;
}

/* line 84, D:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-male {
  background-position: 0 -1553px;
  height: 40px;
  width: 35px;
}

/* line 84, D:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-me-mark {
  background-position: 0 -1603px;
  height: 30px;
  width: 30px;
}

/* line 84, D:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-modal-close-white {
  background-position: 0 -1643px;
  height: 20px;
  width: 20px;
}

/* line 84, D:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-more-down-white-40 {
  background-position: 0 -1673px;
  height: 40px;
  width: 40px;
}

/* line 84, D:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-more-gray {
  background-position: 0 -1723px;
  height: 12px;
  width: 46px;
}

/* line 84, D:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-more-up-white-40 {
  background-position: 0 -1745px;
  height: 40px;
  width: 40px;
}

/* line 84, D:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-more-white {
  background-position: 0 -1795px;
  height: 12px;
  width: 46px;
}

/* line 84, D:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-share-gray {
  background-position: 0 -1817px;
  height: 35px;
  width: 41px;
}

/* line 84, D:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-share-white {
  background-position: 0 -1862px;
  height: 35px;
  width: 41px;
}

/* line 84, D:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-star-wars {
  background-position: 0 -1907px;
  height: 45px;
  width: 54px;
}

/* line 84, D:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-top-blue-50 {
  background-position: 0 -1962px;
  height: 50px;
  width: 50px;
}

/* line 84, D:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-top-word-gray-40 {
  background-position: 0 -2022px;
  height: 40px;
  width: 40px;
}

/* line 84, D:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-top-word-gray-45 {
  background-position: 0 -2072px;
  height: 45px;
  width: 45px;
}

/* line 84, D:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-trash-gray {
  background-position: 0 -2127px;
  height: 23px;
  width: 19px;
}

/* line 84, D:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-wechat-homeicon-white {
  background-position: 0 -2160px;
  height: 39px;
  width: 42px;
}
